<% include ./../../helpers/notify-validate %>
<% include ./../../helpers/selectbox %>
<% include ./../../helpers/input %>
<% include ./../../helpers/form-group %>
<% include ./../../helpers/textarea %>
<% include ./../../helpers/image %>
<%
    const collection = 'products';
    const linkPrefix = `/${systemConfigs.prefixAdmin}/${collection}`;
    const statusSelectbox = [
            {value: 'default', name: '- Select Status -'},
            {value: 'active', name: 'Active'},
            {value: 'inactive', name: 'Inactive'},
        ];
    const specialSelectbox = [
        {value: 'default', name: '- Select Special -'},
        {value: 'active', name: 'Active'},
        {value: 'inactive', name: 'Inactive'},
    ];
    const groupsSelectbox = categoryGroups.map(group => ({name: group.name, value: group.id}));
    groupsSelectbox.unshift({value: 'default', name: '- Select Category -'});
    const folderUploads = `/uploads/${collection}`;
    const formGroup = [
        {label: 'Name', input: inputHelper('name', item.name, 'text', 'name-form')},
        {label: 'Status', input: selectboxHelper('status', statusSelectbox, item.status)},
        {label: 'Special', input: selectboxHelper('special', specialSelectbox, item.special)},
        {label: 'Ordering', input: inputHelper('ordering', item.ordering, 'number')},
        {label: 'Original Price', input: inputHelper('price_old', item.price_old, 'number')},
        {label: 'New Price', input: inputHelper('price_new', item.price_new, 'number')},
        {label: 'Slug', input: inputHelper('slug', item.slug, 'text', 'slug-form')},
        {label: 'Category', input: selectboxHelper('group_id', groupsSelectbox, item.group_id)},
        {label: 'Content', input: textareaHelper('content', item.content, 'text')},
        {label: 'Thumb', input: inputHelper('thumb', item.thumb, 'text')},
        {label: 'Thumb Current', input: imageOutsideHelper(item.thumb)},
    ];
%>

<%- showErrors(errors) %>

<div class="card card-info card-outline">
    <div class="card-body">
        <form action="<%= linkPrefix %>/form" method="post" class="mb-0" id="admin-form" >
            <%- formGroupHelper(formGroup) %>
            <div class="form-group row">
                <%- inputHelper('id', item.id, 'hidden') %>
                <%- inputHelper('group_name', item.group_name, 'hidden') %>
                <%- inputHelper('thumb_old', item.thumb || '', 'hidden') %>
            </div>
        </form>`
        
    </div>
    <div class="card-footer">
        <div class="col-12 col-sm-8 offset-sm-2">
            <button id="admin-form-submit" class="btn btn-sm btn-success mr-1"> Save</button>
            <a href="<%= linkPrefix %>" class="btn btn-sm btn-danger mr-1"> Cancel</a>
        </div>
    </div>

</div>

<script src="/backend/js/ckeditor5-build-decoupled-document/ckeditor.js"></script>
<script>
	DecoupledEditor
		.create( document.querySelector( '#editor5' ) )
		.then( editor => {
			// The toolbar needs to be explicitly appended.
			document.querySelector( '#toolbar-container' ).appendChild( editor.ui.view.toolbar.element );
            document.querySelector( '#text-editor5' ).value = editor.getData();
            
            editor.model.document.on( 'change:data', () => {
                document.querySelector( '#text-editor5' ).value = editor.getData();
            } );
			window.editor = editor;
		} )
		.catch( error => {
			console.error( 'There was a problem initializing the editor.', error );
		} );
</script>