<% include ./../../helpers/format %>

<div class="row no-gutters app__content product__cart-title">
    <div class="col l-12 m-12 c-12">
        <h3><i class="fas fa-cart-plus product__cart-icon"></i> Giỏ hàng</h3>
    </div>
</div>
<div class="row no-gutters product__cart-heading">
    <div class="col l-0 m-0 c-0">
        <div class="cart__product-checkbox d-flex align-items-center">
            <input type="checkbox" >
        </div>
    </div>
    <div class="col l-6 m-6 c-12">
        <div class="cart__product-info">Sản phẩm</div>
    </div>
    <div class="col l-0 m-0 c-0">
        <div class="cart__product-property">Phân loại</div>
    </div>
    <div class="col l-6 m-6 c-0">
        <div class="row no-gutters ">
            <div class="col l-3 m-0 c-12">Đơn giá</div>
            <div class="col l-3 m-0 c-12">Số lượng</div>
            <div class="col l-3 m-6 c-12">Số tiền</div>
            <div class="col l-3 m-6 c-12">Thao tác</div>
        </div>
    </div>
</div>
<div class="product__cart-wrap" id="product-cart">
    <%
        let priceTotal = 0;
        let quantityTotal = 0;
        
        cartProducts.forEach(cartProduct => {
            const product = cartProduct.product_id;
            const quantity = cartProduct.quantity;
            quantityTotal += quantity;
            priceTotal += product.price.price_new * quantity
            %>
            <div class="row no-gutters product__cart-item">
                <div class="col l-0 m-0 c-0">
                    <div class="cart__product-checkbox d-flex align-items-center">
                        <input type="checkbox" >
                    </div>
                </div>
                <div class="col l-1 m-1 c-1">
                    <div class="cart__product-info">
                        <div class="cart__product-img" style="background-image: url('<%= product.thumb %>');"></div>
                    </div>
                </div>
                <div class="col l-5 m-5 c-11">
                    <div class="cart__product-info">
                        <p class="cart__product-name"><%= product.name %></p>
                    </div>
                </div>
                <div class="col l-0 m-0 c-0">
                    <div class="cart__product-property d-flex align-items-center h-100">
                        Xanh lá
                    </div>
                </div>
                <div class="col l-6 m-6 c-12">
                    <div class="row no-gutters h-100">
                        <div class="col l-3 m-6 c-9  l-o-0">
                            <div class="cart__product-prices d-flex align-items-center h-100">
                                <div class="cart__product-price-old"><%= formatCurrencyHelper(product.price.price_old) %></div>
                                <div class="cart__product-price-new" data-price="<%= product.price.price_new %>"><%= formatCurrencyHelper(product.price.price_new) %></div>
                            </div>
                        </div>
                        <div class="col l-3 m-6 c-2">
                            <div class="cart__product-quantity-wrap d-flex align-items-center h-100">
                                <div class="product__quantity-btn-wrap">
                                    <button class="product__quantity-btn btn-decrease" data-increase="-1">-</button>
                                    <input type="number" role="spinbutton" min="0" class="product__quantity-number" value="<%= quantity %>"
                                        data-product-id="<%= product.id %>" data-cart-id="<%= user.cart %>">
                                    <button class="product__quantity-btn btn-increase" data-increase="1">+</button>
                                </div>
                            </div>
                        </div>
                        <div class="col l-3 m-6 c-9  l-o-0">
                            <p class="cart__product-price-total d-flex h-100"><%= formatCurrencyHelper(quantity * product.price.price_new) %></p>
                        </div>
                        <div class="col l-3 m-6 c-2">
                            <div class="cart__product-action ajax-cart-delete d-flex align-items-center h-100">
                                Xóa
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <%
        })
    %>
</div>
<div class="row no-gutters ">
    <div class="col l-12 m-12 c-12">
        <div class="cart__product-footer">
            <div class="cart__product-total-wrap">
                <span class="cart__product-total-product">
                    Tổng thanh toán (<span class="cart__product-total-quantity"><%= quantityTotal %></span> Sản phẩm): 
                </span>
                <span class="cart__product-total-price" data-price="<%= priceTotal %>"><%= formatCurrencyHelper(priceTotal) %></span>
            </div>
            <div class="cart__product-footer-buy btn btn--primary">Mua Ngay</div>
        </div>
    </div>
</div>