<%
    const folderUploads = `/uploads/users/`;
    if (typeof sidebarActive === 'undefined') sidebarActive = '|';
%>

<aside class="main-sidebar sidebar-dark-info elevation-4">
    <!-- Brand Logo -->
    <a  class="brand-link">
        <img src="/backend/images/logo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Administration</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="<%= folderUploads + 'user.avatar' %>" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block"><%= 'user.name' %></a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav id="sidebar-active" data-active="<%= sidebarActive %>" class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href='/<%= systemConfigs.prefixAdmin %>/dashboard' class="nav-link" data-active="dashboard">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href='/<%= systemConfigs.prefixAdmin %>/groups' class="nav-link" data-active="groups">
                        <i class="nav-icon fas fa-users"></i>
                        <p>Group<i class="fas fa-angle-left right"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/<%= systemConfigs.prefixAdmin %>/groups" class="nav-link" data-active="list">
                                <i class="nav-icon fas fa-list-ul"></i>
                                <p>List</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/<%= systemConfigs.prefixAdmin %>/groups/form" class="nav-link" data-active="form">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>Form</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/<%= systemConfigs.prefixAdmin %>/users" class="nav-link" data-active="users">
                        <i class="nav-icon fas fa-user"></i>
                        <p>User<i class="fas fa-angle-left right"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/<%= systemConfigs.prefixAdmin %>/users" class="nav-link" data-active="list">
                                <i class="nav-icon fas fa-list-ul"></i>
                                <p>List</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/<%= systemConfigs.prefixAdmin %>/users/form" class="nav-link" data-active="form">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>Form</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" data-active="categories">
                        <i class="nav-icon fas fa-thumbtack"></i>
                        <p>Category<i class="fas fa-angle-left right"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/<%= systemConfigs.prefixAdmin %>/categories" class="nav-link" data-active="list">
                                <i class="nav-icon fas fa-list-ul"></i>
                                <p>List</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/<%= systemConfigs.prefixAdmin %>/categories/form" class="nav-link" data-active="form">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>Form</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" data-active="products">
                        <i class="nav-icon far fa-newspaper"></i>
                        <p>Product<i class="fas fa-angle-left right"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/<%= systemConfigs.prefixAdmin %>/products" class="nav-link" data-active="list">
                                <i class="nav-icon fas fa-list-ul"></i>
                                <p>List</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/<%= systemConfigs.prefixAdmin %>/products/form" class="nav-link" data-active="form">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>Form</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" data-active="contacts">
                        <i class="nav-icon fas fa-address-book"></i>
                        <p>Contact<i class="fas fa-angle-left right"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/<%= systemConfigs.prefixAdmin %>/contacts" class="nav-link" data-active="list">
                                <i class="nav-icon fas fa-list-ul"></i>
                                <p>List</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/<%= systemConfigs.prefixAdmin %>/contacts/form" class="nav-link" data-active="form">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>Form</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" data-active="discounts">
                        <i class="nav-icon fas fa-percent"></i>
                        <p>Discount<i class="fas fa-angle-left right"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/<%= systemConfigs.prefixAdmin %>/discounts" class="nav-link" data-active="list">
                                <i class="nav-icon fas fa-list-ul"></i>
                                <p>List</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/<%= systemConfigs.prefixAdmin %>/discounts/form" class="nav-link" data-active="form">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>Form</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" data-active="deliveries">
                        <i class="nav-icon fas fa-shuttle-van"></i>
                        <p>Transport<i class="fas fa-angle-left right"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/<%= systemConfigs.prefixAdmin %>/deliveries" class="nav-link" data-active="list">
                                <i class="nav-icon fas fa-list-ul"></i>
                                <p>List</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/<%= systemConfigs.prefixAdmin %>/deliveries/form" class="nav-link" data-active="form">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>Form</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href='/<%= systemConfigs.prefixAdmin %>/settings' class="nav-link" data-active="settings">
                        <i class="nav-icon fas fa-cogs"></i>
                        <p>Settings</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href='/auth/logout' class="nav-link" data-active="logout">
                        <i class="nav-icon fas fa-sign-out-alt""></i>
                        <p>Logout</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>