<% include ./../../helpers/show-product %>
<% include ./../../helpers/format %>
<% include ./../../helpers/sort %>

<%
    const sort_type = (typeof queryObj !== 'undefined') && queryObj.sort_type ? queryObj.sort_type : '-created.time';
    const price_from = (typeof queryObj !== 'undefined') && queryObj.price_from ? queryObj.price_from : '';
    const price_to = (typeof queryObj !== 'undefined') && queryObj.price_to ? queryObj.price_to : '';
    const categoriesQuery = (typeof queryObj !== 'undefined') && queryObj.categories ? queryObj.categories : [];
    const search = (typeof queryObj !== 'undefined') && queryObj.search ? queryObj.search.trim() : '';

    const sortArr = [
        {name: 'Mới nhất', sort_type: '-created.time'},
        {name: 'Bán chạy', sort_type: '-sold'},
    ];
%>

<div class="row sm-gutter app__content">
    <div class="col l-2 m-0 c-0">
        <div class="category">
            <h3 class="category__heading">
                <i class="category__heading-icon fas fa-list"></i>    
                Bộ lọc tìm kiếm
            </h3>
            <form action="/category" method="get" class="filter" id="form-filter">
                <div class="filter__category">
                    <p class="filter__item-title">Theo danh mục</p>
                    <ul class="category-list">
                        <%
                            categories.forEach((category, index) => {
                                const isChecked = categoriesQuery.indexOf(category.id) > -1 ? 'checked' : '';
                                if (category.slug === 'yeu-thich') return -1;
                            %>
                                <li class="filter__item">
                                    <input class="filter__item-checkbox cursor-pointer" id="filter__category-checkbox<%= index %>"
                                        type="checkbox" name="categories" value="<%= category.id %>" <%= isChecked %>>
                                    <label class="cursor-pointer" for="filter__category-checkbox<%= index %>"><%= category.name %></label>
                                </li>
                            <%})
                        %>
                    </ul>
                </div>
                <div class="filter__price">
                    <p class="filter__item-title">Theo giá</p>
                    <div class="filter__price-wrap">
                        <input name="price_from" type="number" class="filter__price-from filter__item" placeholder="₫ TỪ" value="<%= price_from %>"/>
                        <div class="filter__price-dash filter__item"> - </div>
                        <input name="price_to" type="number" class="filter__price-to filter__item" placeholder="₫ ĐẾN" value="<%= price_to %>"/>
                    </div>
                </div>
                
                <div class="filter__price-wrap">
                    <button type="submit" class="filter__submit btn btn--primary" id="filter-submit">ÁP DỤNG</button>
                </div>
                <input type="hidden" name="sort_type" value="<%= sort_type %>">
            </form>
        </div>
    </div>

    <div class="col l-10 m-12 c-12">
        <div class="home-filter hide-on-mobile-tablet">
            <%- sortHelper(sortArr, sort_type) %>
        </div>

        <% include ./../../elements/category-mobile %>

        <div id="product-filter">
            <%- showProductHelper(titleCategory, products, 5, null, search) %>
        </div>

    </div>
</div>