<% include ./../../helpers/show-product %>
<% include ./../../helpers/format %>

<%
    const price_from = (typeof queryObj !== 'undefined') && queryObj.price_from ? queryObj.price_from : '';
    const price_to = (typeof queryObj !== 'undefined') && queryObj.price_to ? queryObj.price_to : '';
    const categoriesQuery = (typeof queryObj !== 'undefined') && queryObj.categories ? queryObj.categories : [];
%>

<div class="row sm-gutter app__content">
    <div class="col l-2 m-0 c-0">
        <div class="category">
            <h3 class="category__heading">
                <i class="category__heading-icon fas fa-list"></i>    
                Bộ lọc tìm kiếm
            </h3>
            <form action="/category" method="get" class="filter" id="form-filter">
                <div class="filter__category">
                    <p class="filter__item-title">Theo danh mục</p>
                    <ul class="category-list">
                        <%
                            categories.forEach((category, index) => {
                                const isChecked = categoriesQuery.indexOf(category.id) > -1 ? 'checked' : '';
                            %>
                                <li class="filter__item">
                                    <input class="filter__item-checkbox cursor-pointer" id="filter__category-checkbox<%= index %>"
                                        type="checkbox" name="categories" value="<%= category.id %>" <%= isChecked %>>
                                    <label class="cursor-pointer" for="filter__category-checkbox<%= index %>"><%= category.name %></label>
                                </li>
                            <%})
                        %>
                    </ul>
                </div>
                <div class="filter__price">
                    <p class="filter__item-title">Theo giá</p>
                    <div class="filter__price-wrap">
                        <input name="price_from" type="number" class="filter__price-from filter__item" placeholder="₫ TỪ" value="<%= price_from %>"/>
                        <div class="filter__price-dash filter__item"> - </div>
                        <input name="price_to" type="number" class="filter__price-to filter__item" placeholder="₫ ĐẾN" value="<%= price_to %>"/>
                    </div>
                </div>
                
                <div class="filter__price-wrap">
                    <button type="submit" class="filter__submit btn btn--primary" id="filter-submit">ÁP DỤNG</button>
                </div>
            </form>
        </div>
    </div>

    <div class="col l-10 m-12 c-12">
        <div class="home-filter hide-on-mobile-tablet">
            <span class="home-filter__label">Sắp xếp theo</span>
            <button class="home-filter__btn btn">Phổ biến</button>
            <button class="home-filter__btn btn btn--primary">Mới nhất</button>
            <button class="home-filter__btn btn">Bán chạy</button>

            <div class="select-input">
                <span class="select-input__label">Giá</span>
                <i class="select-input__icon fas fa-angle-down"></i>
                <!-- List options -->
                <ul class="select-input__list">
                    <li class="select-input__item">
                        <a href="" class="select-input__link">Giá thấp đến cao</a>
                    </li>
                    <li class="select-input__item">
                        <a href="" class="select-input__link">Giá cao đến thấp</a>
                    </li>
                </ul>
            </div>

            <div class="home-filter__page">
                <span class="home-filter__page-num">
                    <span class="home-filter__page-curent">1</span>/14
                </span>

                <div class="home-filter__page-control">
                    <a href="" class="home-filter__page-btn home-filter__page-btn--disabled">
                        <i class="home-filter__page-icon fas fa-angle-left"></i>
                    </a>
                    <a href="" class="home-filter__page-btn">
                        <i class="home-filter__page-icon fas fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>

        <% include ./../../elements/category-mobile %>

        <div id="product-filter">
            <%- showProductHelper(titleCategory, products, 5) %>
        </div>

    </div>
</div>