<% include ./../../helpers/show-product %>
<% include ./../../helpers/show-category %>
<% include ./../../helpers/format %>
<% include ./../../helpers/show-slider %>

<%- showSliderHelper(sliders) %>
<%- showCategoryHelper(categories) %>

<div class="row sm-gutter">
    <div class="col l-12 m-12 c-12">
        
        <% include ./../../elements/category-mobile %>
        
        <%- showProductHelper('Sản phẩm nổi bật', specialProducts) %>
        <%- showProductHelper('Sản phẩm bán chạy', soldoutProducts) %>
        <%- showProductHelper('Tất cả các sản phẩm', products, 6, 'all-products') %>
        
        <% include ./../../elements/loading %> 

    </div>
</div>