<% include ./../../helpers/format %>
<% include ./../../helpers/selectbox %>
<% include ./../../helpers/input %>
<%
    const citySelectbox = cities.map(city => ({
        name: city.name,
        value: city.id,
        transport_fee: city.transport_fee,
    }));
    let currentCity = citySelectbox.find(city => city.value == user.city);
    if (!currentCity) currentCity = citySelectbox[0];
%>

<div class="row no-gutters app__content product__cart-title">
    <div class="col l-12 m-12 c-12">
        <h3><i class="far fa-credit-card product__cart-icon"></i> Thanh toán</h3>
    </div>
</div>
<div class="row no-gutters product__cart-heading">
    <div class="col l-0 m-0 c-0">
        <div class="cart__product-checkbox d-flex align-items-center">
            <input type="checkbox" >
        </div>
    </div>
    <div class="col l-6 m-6 c-0">
        <div class="cart__product-info">Sản phẩm</div>
    </div>
    <div class="col l-0 m-0 c-0">
        <div class="cart__product-property">Phân loại</div>
    </div>
    <div class="col l-6 m-6 c-0">
        <div class="row no-gutters ">
            <div class="col l-4 m-4 c-12">Đơn giá</div>
            <div class="col l-4 m-4 c-12">Số lượng</div>
            <div class="col l-4 m-4 c-12">Thành tiền</div>
        </div>
    </div>
</div>
<div class="product__cart-wrap">
    <%
        let priceTotal = 0;
        let quantityTotal = 0;
        
        cartProducts.forEach(cartProduct => {
            const product = cartProduct.product_id;
            const quantity = cartProduct.quantity;
            quantityTotal += quantity;
            priceTotal += product.price.price_new * quantity
            if (quantity <= 0) return -1;
            %>
            <div class="row no-gutters product__cart-item">
                <div class="col l-0 m-0 c-0">
                    <div class="cart__product-checkbox d-flex align-items-center">
                        <input type="checkbox" >
                    </div>
                </div>
                <div class="col l-6 m-6 c-12">
                    <div class="cart__product-info">
                        <div class="cart__product-img" style="background-image: url('<%= product.thumb %>');"></div>
                        <p class="cart__product-name"><%= product.name %></p>
                    </div>
                </div>
                <div class="col l-0 m-0 c-0">
                    <div class="cart__product-property d-flex align-items-center h-100">
                        Xanh lá
                    </div>
                </div>
                <div class="col l-6 m-6 c-12">
                    <div class="row no-gutters h-100">
                        <div class="col l-4 m-4 c-4">
                            <div class="cart__product-prices d-flex align-items-center h-100">
                                <div class="cart__product-price-new"><%= formatCurrencyHelper(product.price.price_old) %></div>
                            </div>
                        </div>
                        <div class="col l-4 m-4 c-2">
                            <div class="cart__product-quantity-wrap d-flex align-items-center h-100">
                                <div class="product__quantity-btn-wrap">
                                    <span style="margin-right: 2px;" class="d-flex align-items-center">x</span>
                                    <span class="d-flex align-items-center"><%= quantity %></span>
                                </div>
                            </div>
                        </div>
                        <div class="col l-4 m-4 c-6">
                            <p class="cart__product-price-total d-flex h-100" data-id="<%= product.id %>" data-quantity="<%= quantity %>">
                                <%= formatCurrencyHelper(quantity * product.price.price_new) %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <%
        })
    %>
</div>
<div class="row no-gutters">
    <div class="col l-12 m-12 c-12">
        <div class="cart__product-total-products">
            <div class="cart__product-total-wrap">
                <span class="cart__product-total-product">Tổng số tiền (<%= quantityTotal %> Sản phẩm): </span>
                <span class="cart__product-total-price" data-price="<%= priceTotal %>"><%= formatCurrencyHelper(priceTotal) %></span>
            </div>
        </div>
    </div>
</div>
<div class="row no-gutters">
    <div class="col l-12 m-12 c-12">
        <div class="cart__product-transport">
            <div class="cart__product-transport-title">
                <i class="fas fa-map-marker-alt"></i>
                Địa chỉ nhận hàng
            </div>
            <div class="cart__product-transport-destination">
                <span class="transport__name"><%= user.name %></span>
                <span class="transport__phone"><%= user.phone %></span>
                <span class="transport__address">
                    <%- inputHelper('transport_address', user.address, 'text', '', 'width: 300px') %>
                    <%- selectboxHelper('transport_city', citySelectbox, user.city) %>
                </span>
                <span class="transport__destination-change">Cập nhật địa chỉ giao hàng</span>
            </div>

            <div class="cart__product-voucher-method">
                <div class="product__voucher-title">Mã giảm giá</div>
                <input class="product__voucher-unit" value="" placeholder="Nhập mã giảm giá" data-id="">
                <div class="product__voucher-change">Cập nhật mã giảm giá</div>
                <div class="product__voucher-price"><%= formatCurrencyHelper(0) %></div>
            </div>
            <div class="product__voucher-info">Mỗi lần chỉ sử dụng tối đa 1 mã giảm giá.</div>
        </div>
    </div>
</div>

<div class="row no-gutters">
    <div class="col l-12 m-12 c-12">
        <div class="cart__product-checkout">
            <div class="cart__product-checkout-method">
                <div class="cart__product-checkout-method-title">Phương thức thanh toán</div>
                <p>Thanh toán khi nhận hàng</p>
            </div>
            <table class="cart__product-checkout-info">
                <tr>
                    <th></th>
                    <th class="text-right"></th>
                </tr>
                <tr>
                    <td>Tổng tiền hàng</td>
                    <td class="text-right transport-price-original" 
                        data-price="<%= priceTotal %>"><%= formatCurrencyHelper(priceTotal) %></td>
                </tr>
                <tr>
                    <td>Phí vận chuyển</td>
                    <td class="text-right transport-fee" 
                        data-fee="<%= currentCity.transport_fee %>"><%= formatCurrencyHelper(currentCity.transport_fee) %></td>
                </tr>
                <tr>
                    <td>Voucher, khuyết mãi</td>
                    <td class="text-right transport-discount" 
                        data-discount="<%= 0 %>">-<%= formatCurrencyHelper(0) %></td>
                </tr>
                <tr>
                    <td>Tổng thanh toán</td>
                    <td class="text-right cart__product-checkout-price-total"
                        data-total="<%= priceTotal %>"><%= formatCurrencyHelper(priceTotal) %></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col l-12 m-12 c-12">
        <div class="cart__product-order">
            <div class="cart__product-order-policy">
                Nhấn "Đặt hàng" đồng nghĩa với việc bạn đồng ý tuân theo <span class="link__shopee">Điều khoản <%= settings.name %></span> và 
                <span class="link__shopee">Điều khoản và Điều kiện</span> của hợp đồng Bảo hiểm
            </div>
            <div class="cart__product-order-btn btn btn--primary">
                Đặt hàng
            </div>
        </div>
    </div>
</div>