<% include ./../helpers/format %>
<% include ./../helpers/show-cart %>
<%
    const isLogin = systemConfigs.guest_id != user.id;
%>

<header class="header">
    <div class="grid wide">
        <!-- START NAV -->
        <nav class="header__navbar hide-on-mobile-tablet">
            <ul class="header__navbar-list">
                <%
                    if (isLogin) {%>
                        <li class="header__navbar-item header__navbar-item--separate">
                            <a href="/category/yeu-thich" class="text-no-link"><span class="header__navbar-title--pointer">Danh mục yêu thích</span></a>
                        </li>
                    <%}
                    if (isAdmin) {%>
                        <li class="header__navbar-item header__navbar-item--separate">
                            <a href="/<%= systemConfigs.prefixAdmin %>" class="text-no-link"><span class="header__navbar-title--pointer">Vào phần quản trị</span></a>
                        </li>
                    <%}
                %>
                <li class="header__navbar-item header__navbar-item--separate">
                    <a href="/orders" class="text-no-link"><span class="header__navbar-title--pointer">Kiểm tra đơn hàng</span></a>
                </li>
                <li class="header__navbar-item">
                    <a href="<%= settings.facebook %>" target="_blank" class="header__navbar-icon-link">
                        <i class="header__navbar-icon fab fa-facebook"></i>
                    </a>
                    <a href="<%= settings.instagram %>" target="_blank" class="header__navbar-icon-link">
                        <i class="header__navbar-icon fab fa-instagram"></i>
                    </a>
                </li>
            </ul>

            <ul class="header__navbar-list">
                <li class="header__navbar-item">
                    <a href="" class="header__navbar-item-link">
                        <i class="header__navbar-icon far fa-bell"></i>
                        Thông báo
                    </a>
                    <div class="header__notify">
                        <header class="header__notify-header">
                            <h3>Thông báo mới nhận</h3>
                        </header>
                        <ul class="header__notify-list">
                            <li class="header__notify-item header__notify-item--viewed">
                                <a href="" class="header__notify-link">
                                    <img src="https://cf.shopee.vn/file/d9c2c719ee7efac3bd4ee6e91f9859b9_tn" alt="" class="header__notify-img">
                                    <div class="header__notify-info">
                                        <span class="header__notify-name">Mỹ phẩm Ohui chính hãng</span>
                                        <span class="header__notify-description">Mô tả mỹ phẩm Ohui chính hãng</span>
                                    </div>
                                </a>
                            </li>
                            <li class="header__notify-item">
                                <a href="" class="header__notify-link">
                                    <img src="https://cf.shopee.vn/file/d9c2c719ee7efac3bd4ee6e91f9859b9_tn" alt="" class="header__notify-img">
                                    <div class="header__notify-info">
                                        <span class="header__notify-name">Mỹ phẩm Ohui chính hãng</span>
                                        <span class="header__notify-description">Mô tả mỹ phẩm Ohui chính hãng</span>
                                    </div>
                                </a>
                            </li>
                            <li class="header__notify-item">
                                <a href="" class="header__notify-link">
                                    <img src="https://cf.shopee.vn/file/d9c2c719ee7efac3bd4ee6e91f9859b9_tn" alt="" class="header__notify-img">
                                    <div class="header__notify-info">
                                        <span class="header__notify-name">Mỹ phẩm Ohui chính hãng Mỹ phẩm Ohui chính hãng</span>
                                        <span class="header__notify-description">Mô tả mỹ phẩm Ohui chính hãng Mỹ phẩm Ohui chính hãng Mỹ phẩm Ohui chính hãng</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <footer class="header__notify-footer">
                            <a href="" class="header__notify-footer-btn">Xem tất cả</a>
                        </footer>
                    </div>
                </li>
                <li class="header__navbar-item">
                    <a href="/contacts" class="header__navbar-item-link">
                        <i class="header__navbar-icon far fa-question-circle"></i>
                        Trợ giúp
                    </a>
                </li>
                
                <%
                    if (isLogin) {%>
                        <li class="header__navbar-item header__navbar-user">
                            <span class="header__navbar-user-name"><i class="fas fa-user"></i>  <%= user.name %></span>

                            <ul class="header__navbar-user-menu">
                                <li class="header__navbar-user-item">
                                    <a href="/users/profile">Tài khoản của tôi</a>
                                </li>
                                <li class="header__navbar-user-item">
                                    <a href="/users/change-password">Đổi mật khẩu</a>
                                </li>
                                <li class="header__navbar-user-item">
                                    <a href="/category/yeu-thich">Sản phẩm đã thích</a>
                                </li>
                                <li class="header__navbar-user-item header__navbar-user-item--separate">
                                    <a href="/auth/logout">Đăng xuất</a>
                                </li>
                            </ul>
                        </li>
                    <%} else {%>
                        <a class="text-no-link" href="/auth/register">
                            <li class="header__navbar-item header__navbar-item--bold header__navbar-item--separate">Đăng kí</li>
                        </a>
                        <a class="text-no-link" href="/auth/login">
                            <li class="header__navbar-item header__navbar-item--bold">Đăng nhập</li>
                        </a>
                    <%}
                %>
                
            </ul>
        </nav>
        <!-- END NAV -->
        
        <!-- START HEADER WITH SEARCH -->
        <div class="header-with-search">
            <label for="mobile-search-checkbox" class="header__mobile-search">
                <i class="fas fa-search header__mobile-search-icon"></i>
            </label>
            <div class="header__logo hide-on-tablet">
                <a href="/" class="header__logo-link">
                    <img src="/uploads/settings/<%= settings.logo_white %>"/>
                    <span class="header__logo-text"><%= settings.name %></span>
                </a>
            </div>

            <input type="checkbox" hidden id="mobile-search-checkbox" class="header__search-checkbox">

            <div class="header__search ">
                <div class="header__search-input-wrap">
                    <input type="text" class="header__search-input" placeholder="Nhập để tìm kiếm sản phẩm">
                    <!-- START history -->
                    <div class="header__search-history">
                        <h3 class="header__search-history-heading">Lịch sử tìm kiếm</h3>
                        <ul class="header__search-history-list">
                            <li class="header__search-history-item">
                                <a>Kem dưỡng da</a>
                            </li>
                            <li class="header__search-history-item">
                                <a>Kem dưỡng da</a>
                            </li>
                            <li class="header__search-history-item">
                                <a>Kem dưỡng da</a>
                            </li>
                        </ul>
                    </div>
                    <!-- END history -->
                </div>
                <div class="header__search-select">
                    <span class="header__search-select-label">Trong shop</span>
                    <i class="header__search-select-icon fa fa-angle-down" aria-hidden="true"></i>

                    <ul class="header__search-options">
                        <li class="header__search-option-item header__search-option-item--active">
                            <span>Trong shop</span>
                            <i class="fas fa-check"></i>
                        </li>
                        <li class="header__search-option-item">
                            <span>Ngoài shop</span>
                            <i class="fas fa-check"></i>
                        </li>
                    </ul>
                </div>
                <button class="header__search-btn">
                    <i class="header__search-btn-icon fas fa-search"></i>
                </button>
            </div>
            <!-- START CART -->
            <div class="header__cart">
                <div class="header__cart-wrap" id="header__cart-wrap">
                    <%- showCartHelper(cartProducts, user.cart) %>
                </div>
            </div>
            <!-- END CART -->
        </div>
        <!-- END HEADER WITH SEARCH -->
    </div>
    <ul class="header__sort-bar">
        <li class="header__sort-item">
            <a href="" class="header__sort-link">Liên quan</a>
        </li>
        <li class="header__sort-item header__sort-item--active">
            <a href="" class="header__sort-link">Mới nhất</a>
        </li>
        <li class="header__sort-item">
            <a href="" class="header__sort-link">Bán chạy</a>
        </li>
        <li class="header__sort-item">
            <a href="" class="header__sort-link">Giá</a>
        </li>
    </ul>
</header>